# Dependencies
node_modules/

# Compiled output
dist

# Test coverage
coverage

# Logs
npm-debug.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store

